<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Edit Data User</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Form Data User</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Form User</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Form</h3>
                </div>
                <div class="box-body">
                    <form th:action="@{/user/form}" th:object="${user}" method="post">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{password}" value="123"/>

                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label>Login</label>
                                <input type="text" th:field="*{login}" name="login" class="form-control" placeholder="Login" required="true" minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$" autofocus="autofocus"/>
                                <label class="control-label error-label" th:errors="*{login}"></label>
                            </div>

                            <div class="form-group" >
                                <label>Nik</label>
                                <input type="text" th:field="*{nik}" name="nik" class="form-control" placeholder="Nik" />
                                <label class="control-label error-label" th:errors="*{nik}"></label>
                            </div>

                            <div class="form-group" >
                                <label>Email</label>
                                <input type="text" th:field="*{email}" name="email" class="form-control" placeholder="Email" />
                                <label class="control-label error-label" th:errors="*{email}" ></label>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" th:field="*{firstName}" name="firstName" class="form-control" required="true" placeholder="First Name" />
                                <label class="control-label error-label" th:errors="*{firstName}"></label>
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" th:field="*{lastName}" name="lastName" placeholder="Last Name" />
                                <label class="control-label error-label" th:errors="*{lastName}"></label>
                            </div>

                            <div class="form-group">
                                <label>Notel</label>
                                <input type="text" class="form-control" th:field="*{notel}" name="notel" placeholder="Notel" />
                                <label class="control-label error-label" th:errors="*{notel}"></label>
                            </div>

                            <div class="form-group">
                                <label>Mitra</label>
                                <select class="form-control"
                                        th:field="*{mitra}"
                                        data-live-search="true"
                                        data-size="5"
                                        title="Pilih Mitra...">
                                    <option th:each="m : ${listMitra}"
                                            th:value="${m.id}"
                                            th:text="${m.name}">Pilih Mitra
                                    </option>
                                </select>
                                <label class="control-label error-label" th:errors="*{mitra}"></label>
                            </div>

                            <div class="form-group pull-right">
                                <a th:href="@{/user/list}" class="btn btn-danger" role="button">
                                    <span aria-hidden="true"></span><span class="fa fa-ban"></span>&nbsp;Batal
                                </a>
                                <button onclick="return confirm('Yakin ingin menyimpan data ini ?')" type="submit" class="btn btn-primary"><span class="fa fa-floppy-o"></span>&nbsp;Simpan</button>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
//            $('select').select2();
        });
        /*]]>*/
    </script>
</div>
</body>
</html>