<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Daftar User</title>
    <script language="JavaScript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $(".remove-data").each(function () {
                $(this).click(function () {
                    if (confirm('Data will be deleted?'))
                        return true;
                    return false;
                });
            });
        });
        /*]]>*/
    </script>
    <style>
        .noWrapColumn{
            white-space: nowrap !important;
        }
    </style>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Daftar Users</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Daftar Users</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <a class="box-title btn btn-primary" th:href="@{/user/form}"><i class="fa fa-plus"></i> Tambah data User</a>
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <form id="form" action="#" method="get" th:action="@{/user/list}">
                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan login" th:if="${key} == null"/>
                                <input type="text" name="value" class="form-control pull-right" placeholder="Pencarian Berdasarkan login" th:if="${key} != null" th:value="${key}"/>
                                <input type="hidden" name="mode" id="mode"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <div style="overflow: auto;">
                        <table class="table table-bordered">
                            <tbody>
                            <tr th:if="${not #lists.isEmpty(data.content)}">
                                <th class="noWrapColumn">Login</th>
                                <th class="noWrapColumn">Nik</th>
                                <th class="noWrapColumn">Email</th>
                                <th class="noWrapColumn">First Name</th>
                                <th class="noWrapColumn">Last Name</th>
                                <th class="noWrapColumn">Notel</th>
                                <th class="noWrapColumn">Activated</th>
                                <th class="noWrapColumn">Action</th>
                            </tr>
                            <tr th:each="user : ${data.content}">
                                <td class="noWrapColumn" th:text="${user.login}">Login</td>
                                <td class="noWrapColumn" th:text="${user.nik}">Nik</td>
                                <td class="noWrapColumn" th:text="${user.email}">Email</td>
                                <td class="noWrapColumn" th:text="${user.firstName}">First Name</td>
                                <td class="noWrapColumn" th:text="${user.lastName}">Last Name</td>
                                <td class="noWrapColumn" th:text="${user.notel}">Notel</td>
                                <td class="noWrapColumn" th:if="${!user.activated}"><span class="label label-danger">Deactivated</span></td>
                                <td class="noWrapColumn" th:if="${user.activated}"><span class="label label-success">Activated</span></td>
                                <td class="col-lg-2 col-md-2 col-xs-2 text-center noWrapColumn">
                                    <div class="btn-group flex-btn-group-container" role="group" aria-label="...">
                                        <a class="btn btn-primary btn-sm" role="button" href="form.html" th:href="@{/user/form?id={id}(id=${user.id})}" title="Edit Data User">
                                            <span class="fa fa-pencil"></span>
                                            <span class="d-none d-md-inline">Edit</span>
                                        </a>
                                        <a class="btn btn-danger btn-sm" role="button" sec:authorize="hasRole('ROLE_ADMIN')" href="delete.html" th:href="@{/user/delete?id={id}(id=${user.id})}" title="Delete Data User">
                                            <span class="fa fa-remove remove-data"></span>
                                            <span class="d-none d-md-inline">Delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(data.content)}">
                                <td colspan="13" class="text-center">Data users tidak ditemukan</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="text-center" th:if="${not #lists.isEmpty(data.content)}">
                            <ul class="pagination" sd:pagination="full"></ul>
                        </div>
                    </div>
                </div>
                <!-- /.box-body
                <div class="box-footer clearfix" th:include="paging :: paginationbar"></div>
                -->
            </div>
        </div>
    </div>
</div>
</body>
</html>